
.Footer .Top,
.Footer .Bottom,
.Footer .Top .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer{
    width: 100%;
    min-height: 50vh;
    /* background-color: aqua; */
}

.Footer .Top{
    width: 100%;
    min-height: 30vh;
    position: relative;
    /* background-color: aquamarine; */
    /* background-color: #f9f9fd; */
}

.Footer .Top .container{
    width: 95%;
    min-height: 30vh;
    /* background-color: antiquewhite; */
    background-color: #f3f3f3;
    background-color: #fff4f4d4;
    border-radius: 10px;
    border: 1px solid #000;
    flex-direction: column;
    
}

.Footer .Top .container h1{
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.Footer .Top .container p{
    font-size: 18px;
    margin: 15px 0;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
}

@media screen and (max-width:550px) {
    .Footer .Top .container h1{
        font-size: 22px;
    }
    .Footer .Top .container p{
        font-size: 15px;
    }
}

.Footer .Top .container .input-box{
    width: 700px;
    min-height: 45px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid #000;
}

.Footer .Top .container .input-box button{
    width: 120px;
    min-height: 40px;
    border-radius: 5px;
    border: none;
    margin-right: 3px;
    background-color: #ff2523;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.Footer .Top .container .input-box input{
    width: calc(100% - 120px);
    min-height: 45px;
    border: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 17px;
}

@media screen and (max-width:756px){
    .Footer .Top .container .input-box{
        width: 95%;
    }
    .Footer .Top .container{
        margin-top: 10px;
    }
}

@media screen and (max-width:480px){
    .Footer .Top .container .input-box button{
        width: 90px;
        font-size: 14px;
    }
}

.Footer .Bottom{
    width: 100%;
    min-height: 30vh;
    /* background-color: blueviolet; */
    
}

.Footer .Bottom .container{
    width: 95%;
    min-height: 30vh;
    /* background-color: antiquewhite; */
    /* background-color: #f3f3f3; */
    display: flex;
    margin-top: 10px;
}

.Footer .Bottom .container .Left{
    width: 40%;
    min-height: 30vh;
    /* background-color: orange; */
    padding-left: 100px;
    box-sizing: border-box;
}

@media screen and (max-width:980px) {
    .Footer .Bottom .container .Left{
        padding: 0;
    } 
}

.Footer .Bottom .container .Left .Top-logo,
.Footer .Bottom .container .Left p{
    display: flex;
    align-items: center;
}

.Footer .Bottom .container .Left .Top-logo{
    width: 100%;
    height: 70px;
    /* background-color: #fff; */
}

.Footer .Bottom .container .Left .Top-logo img{
    width: 100px;
}

.Footer .Bottom .container .Left  h3{
    font-weight: 400;
    margin: 15px 0;
}

.Footer .Bottom .container .Left .contacts i{
    width: 30px;
    /* background-color: aqua; */
    padding-left: 10px;
    box-sizing: border-box;
    color: #ff2523;
}

.Footer .Bottom .container .Left .contacts p{
    font-size: 14px;
    margin: 10px 0;
}

.Footer .Bottom .container .Left .touch .social{
    display: flex;
    gap: 20px;
    font-size: 30px;
    padding-left: 10px;
    box-sizing: border-box;
    margin: 10px 0 5px 0;
}

.Footer .Bottom .container .Left .touch .social i{
    cursor: pointer;
}

.Footer .Bottom .container .Left .touch .social i:not(:nth-child(1)){
    font-size: 31px;
}

.Footer .Bottom .container .Right{
    width: 60%;
    min-height: 30vh;
    display: flex;
    justify-content: space-evenly;
    /* background-color: violet; */
}

.Footer .Bottom .container .Right .Col{
    width: 200px;
    min-height: 30vh;
    /* background-color: yellowgreen; */
}

.Footer .Bottom .container .Right .Col h3{
    font-weight: 400;
    margin-top: 60px;
}

.Footer .Bottom .container .Right .Col p,
.Footer .Bottom .container .Right .Col a{
    margin: 20px 0;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

@media screen and (max-width:670px){
    .Footer .Bottom .container{
        /* flex-direction: column-reverse; */
        flex-direction: column;
    }
    .Footer .Bottom .container .Right,
    .Footer .Bottom .container .Left{
        width: 100%;
    }
    .Footer .Bottom .container .Right{
        min-height: auto;
    }
    .Footer .Bottom .container .Right .Col{
        text-align: center;
        min-height: auto;
    }
    .Footer .Bottom .container .Right .Col h3{
        font-size: 16px;
        font-weight: 400;
        margin-top:10px;
    }
    .Footer .Bottom .container .Left .Top-logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Footer .Bottom .container .Right .Col p{
        margin: 20px 0;
        font-size: 13px;
    }
    .Footer .Bottom .container .Left{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10px;
    }
    .Footer .Bottom .container .Left .contacts p{
        display: flex;
        justify-content: center;
    }
    .Footer .Bottom .container .Left  h3{
        margin-top: 5px;
    }
    .Footer .Bottom .container .Left .contacts i{
        margin-right: 5px;
    }
}