* {
    margin: 0;
    padding: 0;
}


.Login,
.Login .Login-container,
.Login .Login-container .OR,
.Login .Login-container .GmailandFacebook,
.Login .Login-container .Close,
.Login .Login-container .forgot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Login {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.Login .Login-popup{
    width: 100%;
    min-height: 400px;
    padding: 100px 0 70px 0;
    box-sizing: border-box;
}

.Login .Login-container {
    width: 500px;
    min-height: 600px;
    background-color: #fafafa;
    border-radius: 10px;
    flex-direction: column;
    position: relative;
    margin: auto;
    box-shadow: 0 0 5px #000;
}



.Login .Login-container .Close {
    position: absolute;
    width: 40px;
    height: 40px;
    /* background-color: #2e2e2e; */
    top: -15px;
    right: -15px;
    border-radius: 50%;
    background-color: #fafafa;
}

.Login .Login-container .Close i {
    font-size: 30px;
    cursor: pointer;
}

.Login .Login-container h1 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.Login .Login-container h1:nth-of-type(1) {
    color: #ff2523;
    font-size: 30px;
}

.Login .Login-container h1:nth-of-type(2) {
    margin-top: 10px;
    font-size: 20px;
}

.Login .Login-container h2 {
    font-size: 28px;
    margin-top: 10px;
    font-weight: 600;
}

.Login .Login-container p:nth-of-type(1) {
    text-align: center;
    font-size: 16px;
    margin: 5px 0;
}

.Login .Login-container .Login-box {
    width: 100%;
    min-height: auto;
    margin: 5px 0;
    /* background-color: #00a8f4; */
    display: flex;
}



.Login .Login-container .Login-box .Right {
    width: 100%;
    min-height: 100%;
    /* background-color: #ad00cc; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    padding: 5px 0;
    box-sizing: border-box;
}

.Login .Login-container .Login-box .inpt-row {
    width: 90%;
    height: 50px;
    /* background-color: #4caf4f; */
    border-radius: 10px;
    /* overflow: hidden; */
    position: relative;
    border: 1px solid #2e2e2e;
}

.Login .Login-container .Login-box .inpt-row p {
    font-size: 11px;
    position: absolute;
    right: 10px;
    top: -20px;
    font-weight: 500;
    color: #ff2523;
}


.Login .Login-container .Login-box .inpt-row input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
}

.Login .Login-container .Login-box .inpt-row i {
    position: absolute;
    top: calc(50% - 7px);
    left: 12px;
}

.Login .Login-container .Login-box .password i:nth-of-type(2) {
    left: 92%;
    cursor: pointer;
}

.Login .Login-container button {
    padding: 12px 70px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    margin: 10px 0;
    background-color: #ff2523;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.5px;
}




.Login .Login-container p a {
    text-decoration: none;
    color: #2e2e2e;
    font-weight: 600;
    font-size: 15px;
}

.Login .Login-container .OR {
    width: 100%;
    height: 15px;
    /* background-color: #008009; */
    gap: 10px
}

.Login .Login-container .OR span {
    font-size: 15px;
}

.Login .Login-container .OR p {
    width: 150px;
    height: 1px;
    background-color: #2e2e2e;
}

.Login .Login-container .GmailandFacebook {
    width: 100%;
    height: 50px;
    /* background-color: #00a8f4; */
    margin: 3px 0;
    gap: 15px;
}

.Login .Login-container .GmailandFacebook a {
    text-decoration: none;
}

.Login .Login-container .GmailandFacebook .gmailbtn {
    width: 130px;
    height: 40px;
    background-color: violet;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #ff2523;
    color: #fff;
}

.Login .Login-container .GmailandFacebook .facebook {
    background-color: #5375e2;
}

.Login .Login-container .GmailandFacebook i {
    padding: 0 5px 0 15px;
    font-size: 17px;
}

.Login .Login-container .GmailandFacebook span {
    width: 1.5px;
    height: 70%;
    /* background-color: #2e2e2e; */
    background-color: #fff;

}

.Login .Login-container .GmailandFacebook p {
    font-size: 17px;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}


@media screen and (max-width:922px) {
    .Login .Login-container {
        width: 95%;
    }
}

@media screen and (max-width:646px) {
    .Login .Login-container {
        width: 95%;
    }

    .Login .Login-container .Login-box {
        flex-direction: column;
    }

    .Login .Login-container .Login-box .Left,
    .Login .Login-container .Login-box .Right {
        width: 100%;
    }

    .Login .Login-container .Login-box .Right {
        margin-top: 5px;
    }

    .Login .Login-container .Login-box .inpt-row {
        height: 45px;
    }

    .Login .Login-container .OR p {
        width: 90px;
    }

    .Login .Login-container p {
        font-size: 15px;
    }

    .Login .Login-container h1:nth-of-type(2) {
        font-size: 18px;
    }

    .Login .Login-container .Login-box .inpt-row input {
        font-size: 14px;
    }

    .Login .Login-container button {
        padding: 8px 50px;
    }

    .Login .Login-container .Login-box .password i:nth-of-type(2) {
        left: 95%;
    }
}

@media screen and (max-width:520px) {
    .Login .Login-container .Login-box .password i:nth-of-type(2) {
        left: 92%;
    }

    .Login .Login-container .OR span {
        font-size: 14px;
    }
}

.Login .Login-container .forgot {
    width: 100%;
    height: 20px;
    /* background-color: #5375e2; */
    justify-content: end;
    padding-right: 25px;
    box-sizing: border-box;
}

.Login .Login-container .forgot p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #6a6b77;
    cursor: pointer;
}

.Login .Login-container .forgot a {
    text-decoration: none;
}


@media (orientation: landscape) and (max-width:900px){
    .Login{
        display: block;
    }
    .Login .Login-popup{
        padding-top: 50px;
    }
    .Login .Login-container{
        width: 650px;
        min-height: 600px;
        padding: 10px;
        box-sizing: border-box;
    }
}
